/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {     -fx-background-image: url("../../drawable/background.jpg");
			-fx-background-repeat:no-repeat;
			-fx-background-size:100% 100%;
			-fx-position:relative;
}